.header {
    background: #fff;
    padding: 20px 0;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__login-button {
        min-width: 160px;
        text-transform: none;
    }


    &__bottom {
        display: flex;
        justify-content: center;
    }
}

.menu {
    &__list {
        display: flex;
        margin: 0 -32px;
        li {
            padding: 0 32px;
        }
    }
}
