.slider-arrow {
    cursor: pointer;
    background: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    &_medium {
        padding: 9px 2px;
    }

    &_big {
        padding: 18px 4px;
        .slider-arrow__icon {
            font-size: 24px;
        }
    }

    @media (any-hover: hover) {
        opacity: 0.75;
        @include anim(0.3s, 0s);

        &:hover {
            opacity: 1;
        }
    }

    &_right {

    }

    &_left {
        transform: rotate(-180deg);
    }
}