.city-choosing {
    &__btn {}
 
    &__dropdown {
        position: absolute;
        background: var(--white);
        padding: 40px 0 10px 0;
        width: 100%;
        left: 0;
        top: 70px;
        opacity: 0;
        transition: opacity 0.3s ease 0s;
        pointer-events: none;

        &_open {
            opacity: 1;
            pointer-events: all;
        }
    }
 
    &__list {
     display: flex;
     flex-wrap: wrap;
     margin: 0 -10px;

     li {
        flex: 0 0 25%;
        padding: 0 10px;
        margin-bottom: 10px;
        @media (max-width: ($md3+px)) {
          flex: 0 0 50%;
        }
         
        p {
            cursor: pointer;
            display: inline-block;
            transition: all 0.3s ease 0s;
            &:hover {
                color: var(--black)
            }
        }
     }
    }
 }