.schedule-filters {
    &__date-picker {
        margin: 0 0 40px 0;
    }
}

.schedule-filters-select {
    color: #fff;
    border: 1px solid #fff !important;
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
    width: 250px;
    fieldset  {
        display: none;
    }

    svg {
        color: #fff;
    }

    &>div {
        height: 32px !important;
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    &__option {
        height: 42px;
        display: flex;
        justify-content: space-between;
    }
}